:root {
  --standart-color: rgb(55, 12, 111, 1);
  --font: Arial, sans-serif; ;
}

body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  
}
/* ////////// NavBar section /////////////// */
.nav-size{
  width: 100%;
  background-color: #1e1e1e;
}
.navbar {
  background-image:url(../images/logo.png) ;
  background-repeat: no-repeat;
  background-position: left;
  padding: 15px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
}


.navbar a {
  width: 100px;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 15px;
  border-bottom: 5px solid var(--standart-color);
  display: flex;
  justify-content: center;

}

.navbar a:hover {
  background-color: var(--standart-color);
  color: rgb(255, 255, 255);
}

/* /////////// About Me ////////// */

.about-me-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color:  rgb(187, 210, 217);
  opacity: 0.8;
  color: rgb(0, 0, 0);
}

.about-me-text {
  max-width: 700px;
  text-align: left;
}

.profile-image {
  border-radius: 30%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-left: 20px;
}
.about-me-text h2{
  font-size: 80px;
  font-family: var(--font);
}

.about-me-text h3{
  font-size: 35px;
}
.about-me-text p {
  font-size: 20px;
  line-height: 1.5;
}
.k-txt{
  font-family: var(--font);
  font-style: italic;
}

/*/////////////  Work Section /////////////// */
.container-work{
  height: 1400px;
  width: 1800px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 75% 25%;
  grid-template-areas: "work-grid work-text";
  margin-top: 20px;
  margin-left: 20px;
}

.work-grid{
  grid-area: work-grid;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 50% 25% 25%;
  grid-template-areas: "img1 img1" "img2 img3" "img4 img5";
  width: 100%;
  height: 100%; 
}

.works-img{
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 95%;
  height: 95%;
  border: 5px solid rgb(146, 146, 168);
  border-radius: 10px;
}

.works-img:hover{
transform: scale(1.03,1.03);
}

.work-text {
  grid-area: work-text;
  border-left: 10px solid black;
  align-items: center;
  
}

#img1{
  grid-area: img1;
  background-image: url(../images/weather-forecast.png);
  height: 95%;
  width: 97.5%; 
}

#img2{
  grid-area: img2;
  background-image: url(../images/site-samanta.png);
  
}

#img3{
  grid-area: img3;
  background-image: url(../images/calculator.png);
}

#img4{
  grid-area: img4;
  background-image: url(../images/age-chech.png);
  
}

#img5{
  grid-area: img5;
  background-image: url(../images/time-of-the-day.png);

}

.work-text h4 {
  font-family: var(--font);
  font-size: 150px;
}

.work-icon{
  width: 20px;
}

 /* ////////////////// Contact  //////////////// */
.contact-main {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-contact{
  background-color:rgb(196, 196, 204) ;
  width: 50%;
  padding: 10px;
  margin: 100px;
  border-radius: 15px;
  border: 20px solid rgb(164, 164, 168);
}

.container-contact img{
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact h4{
  font-size: 70px;
  font-family: var(--font);
  margin: 0;
}
.contact p {
  font-size: 30px;
}

@media screen and (max-width: 1049px) {
  .nav-size{
  background-image:none;
  padding: 15px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
}

  }

