:root {
  --standart-color: rgb(55, 12, 111, 1);
  --font: Arial, sans-serif; 
  
}

body {
  margin:0;
  padding: 0;
  background-color: rgb(198, 217, 235);
  
}
/* ////////// NavBar section /////////////// */
.nav-size{
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  width: 100px;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-bottom: 5px solid var(--standart-color);
  display: flex;
  justify-content: center;
}

.navbar a:hover {
  background-color: var(--standart-color);
  color: rgb(255, 255, 255);
}

/* /////////// About Me ////////// */

.about-me-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:  rgb(160, 202, 240);
  color: rgb(0, 0, 0);
}

.about-me-text {
  max-width: 700px;
}

.profile-image {
  border-radius: 30%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-left: 20px;
}
.about-me-text h2{
  font-size: 10vh;
  font-family: var(--font);
}

.about-me-text h3{
  font-size: 5vh;
}
.about-me-text p {
  font-size: 3.5vh;
  line-height: 1.2;
  font-family: var(--font);
}
.k-txt{
  font-family: var(--font);
  font-style: italic;
}

/*/////////////  Work Section /////////////// */
.container-work{
  height: 1400px;
  width: 90%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 75% 25%;
  grid-template-areas: "work-grid work-text";
  margin-top: 20px;
  margin-left: 20px;
}

.work-grid{
  grid-area: work-grid;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 25% 25%;
  grid-template-areas: "img1 img1" "img2 img3" "img4 img5";
}

.works-img{
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 95%;
  height: 95%;
  border: 5px solid var(--standart-color);
  border-radius: 10px;
  display: flex;
  align-items: end;
  justify-content: end;
}

.works-img:hover{
transform: scale(1.03,1.03);
}

.work-text {
  grid-area: work-text;
  border-left: 10px solid var(--standart-color);
}

#img1{
  grid-area: img1;
  background-image: url(../images/travel-california.png);
  height: 98%;
  width: 97.5%; 
}

#img2{
  grid-area: img2;
  background-image: url(../images/site-samanta.png);
  
}

#img3{
  grid-area: img3;
  background-image: url(../images/calculator.png);
}

#img4{
  grid-area: img4;
  background-image: url(../images/quizApp.png);
  
}

#img5{
  grid-area: img5;
  background-image: url(../images/time-of-the-day.png);

}

.mini-box{
  background-color: silver;
  text-align: center;
  font-size: 1vw;
  color: rgb(1, 4, 4);
  border-radius: 10px;
  margin-bottom: 10px;
  border: 5px var(--standart-color) solid;
  display: flex;
  flex-direction: column;
}

.work-text h4 {
  width: 100%;
  margin: 0;
  font-family: var(--font);
  font-size: 10vw;
}

.work-icon{
  width: 20px;
}

 /* ////////////////// Contact  //////////////// */
.contact-main {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-contact{
  background-color:rgb(196, 196, 204) ;
  border-radius: 15px;
  border: 20px solid var(--standart-color);
}

.container-contact img{
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact h4{
  font-size: 70px;
  font-family: var(--font);
  margin: 0;
}
.contact p {
  font-size: 30px;
}

@media screen and (max-width: 1049px){
  .nav-size{
    max-width: 100%;
    background-color: #1e1e1e;
    flex-direction: column;
  }
  .navbar{
    display: flex;
    width: 20vw;
    align-items: start;
    justify-content: center;
  }

  .about-me-container{
  flex-direction: column;
  text-align: center;
  }

  .container-work{
    display:flex;
    flex-direction: column-reverse;
    height: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  #img1{
    width: 100%;

  }

  .work-grid{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 600px;
  }

  .work-text {
    text-align: center;
    border: none;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .works-img{
    display: block;
    width: 100%;
    height: 400px;
  }

  .mini-box{
    width: 30%;
    height: 30%;
  
  }
  .container-contact{
    border: none;
    background-color: rgb(198, 217, 235);
  }
  .contact h4{
    font-size: 50px;
  }
}